body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-image: url(../imagens/login-fundo.png);
    background-size: cover;
    height: 100vh;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 300px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 22px;
    box-shadow: 0px 10px 70px rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    padding: 10px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
    margin-bottom:  20px;
    color: black;
}

.input-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.08);
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    color: black;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.icon{
    margin-right: 10px;
}

.input-box input{
    background: rgba(255, 255, 255, 1);
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 14px;
    font-family: inherit;
}

.input-box input::placeholder{
    color: black;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: black;
}

.link{
    color: black;
    text-decoration: none;
    margin: 14px;
}

.link-p{
    text-align: center;
}

.btn{
    display: block;
    width: 100%;
    padding: 14px 14px;
    background: #103B2B;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 10px;
}

